*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
}
.navone{
    display: flex;
    gap: 950px;
    padding: 10px;
    background-color: rgb(171, 161, 148);
    justify-content: center;
}
.navone img{
    width: 30px;
}
.navone-li{
    display: flex;
    gap: 30px;
    padding: 11px;
}
.navone-li li{
    list-style: none;
}
.navone-li li a{
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.navone-li li a:hover{
    color: gray
}
.navtwo{
    display: flex;
    gap: 250px;
    padding: 10px;
    background-color: rgb(244, 236, 226);
    justify-content: center; 
}






.navthree{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.dropbtn {
    /* background-color: #04AA6D; */
    color: rgb(23, 22, 22);
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 160px; */
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}  


.navfour{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.navfour img{
    width: 27px;
    height: 27px;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}  
.mySlides{
    display: none;
}
.mySlides img{
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.influceres{
    display: flex;
}
.influencers-onee{
    place-items: center;
}
.influencers-twoo{
    place-items: center;
}